WeatherAnalysis2
[{"id":"2b0c1270.424bee","type":"twitter in","z":"75ff2183.a0fda8","twitter":"","tags":"@cs","user":"false","name":"clothing","topic":"tweets","inputs":0,"x":55,"y":325,"wires":[["2a54fd71.061652"]]},{"id":"2a54fd71.061652","type":"function","z":"75ff2183.a0fda8","name":"Tweet","func":"msg.sender=msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":217,"y":328,"wires":[["5d7cb08d.810cf"]]},{"id":"b0669e87.b9d3e","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"payload","x":659,"y":546,"wires":[]},{"id":"57e08323.6534ac","type":"weather_insights","z":"75ff2183.a0fda8","name":"Weather Insights","service":"/forecast/daily/10day.json","geocode":"msg.payload","units":"m","language":"","x":377,"y":488,"wires":[["2ee5a506.a01a4a","9affb084.1e50b"]]},{"id":"5d7cb08d.810cf","type":"alchemy-feature-extract","z":"75ff2183.a0fda8","name":"City Search","page-image":"","image-kw":"","feed":"","entity":true,"keyword":"","title":"","author":"","taxonomy":"","concept":"","relation":"","pub-date":"","doc-sentiment":"","doc-emotion":"","x":395,"y":330,"wires":[["299d482b.765c78"]]},{"id":"299d482b.765c78","type":"function","z":"75ff2183.a0fda8","name":"City Check","func":"var arraylength=msg.features.entity.length;\nfor(var i=0;i<arraylength;i++){\n    if(msg.features.entity[i].type==\"City\"){\n        msg.payload=msg.features.entity[i].text;\n    }\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":577,"y":333,"wires":[["65cd4f09.486e5"]]},{"id":"65cd4f09.486e5","type":"function","z":"75ff2183.a0fda8","name":"Form URL Based in City Name","func":"msg.url=\"http://api.opencagedata.com/geocode/v1/json?q=\";\nmsg.url=msg.url+msg.payload;\nmsg.url=msg.url+\"&key=cce4188ad005452cbab9ce4db6d13409\";\nreturn msg;\n","outputs":1,"noerr":0,"x":145,"y":396,"wires":[["11e474cb.f2595b"]]},{"id":"11e474cb.f2595b","type":"http request","z":"75ff2183.a0fda8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":405,"y":390,"wires":[["2708d8d4.cc3238"]]},{"id":"2708d8d4.cc3238","type":"json","z":"75ff2183.a0fda8","name":"","x":585,"y":390,"wires":[["d60a8788.f86908"]]},{"id":"d60a8788.f86908","type":"function","z":"75ff2183.a0fda8","name":"Extract LatLong","func":"var lat=msg.payload.results[0].geometry.lat;\nvar long=msg.payload.results[0].geometry.lng;\nmsg.payload=lat+\",\"+long; \nreturn msg;","outputs":1,"noerr":0,"x":125,"y":487,"wires":[["57e08323.6534ac"]]},{"id":"2ee5a506.a01a4a","type":"function","z":"75ff2183.a0fda8","name":"Narrative","func":"msg.payload=msg.forecasts[0].narrative;\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":495,"wires":[["8d5acf41.727d"]]},{"id":"9affb084.1e50b","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"forecasts[0]","x":639,"y":444,"wires":[]},{"id":"8d5acf41.727d","type":"switch","z":"75ff2183.a0fda8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Cloudy","vt":"str"},{"t":"cont","v":"Clear","vt":"str"},{"t":"cont","v":"Rain","vt":"str"}],"checkall":"true","outputs":3,"x":105,"y":549,"wires":[["6ee74f00.28824"],["e6c2f1f9.6f6aa"],["51f3e6be.396f48"]]},{"id":"6ee74f00.28824","type":"function","z":"75ff2183.a0fda8","name":"Cloudy","func":"msg.payload=msg.payload+\"@\"+msg.sender+\"Wear Hot Clothes\"\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":551,"wires":[["b0669e87.b9d3e","d994e0b5.59718"]]},{"id":"e6c2f1f9.6f6aa","type":"function","z":"75ff2183.a0fda8","name":"Clear","func":"msg.payload=msg.payload+\"@\"+msg.sender+\"Wear clothes\"\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":597,"wires":[["b0669e87.b9d3e","d994e0b5.59718","e27382bb.e9117"]]},{"id":"d994e0b5.59718","type":"twitter out","z":"75ff2183.a0fda8","twitter":"","name":"Response","x":689,"y":604,"wires":[]},{"id":"51f3e6be.396f48","type":"function","z":"75ff2183.a0fda8","name":"Raining","func":"msg.payload=msg.payload+\"@\"+msg.sender+\"Take Umbrella With You\"\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":651,"wires":[["d994e0b5.59718","fb8bcebe.5e4d5"]]},{"id":"e27382bb.e9117","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"false","x":663,"y":696,"wires":[]},{"id":"fb8bcebe.5e4d5","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"false","x":639,"y":644,"wires":[]}]
