WeatherAnalysis1
[{"id":"11e474cb.f2595b","type":"http request","z":"75ff2183.a0fda8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":453,"y":404,"wires":[["2708d8d4.cc3238"]]},{"id":"2b0c1270.424bee","type":"twitter in","z":"75ff2183.a0fda8","twitter":"","tags":"@cs","user":"false","name":"clothing","topic":"tweets","inputs":0,"x":97,"y":321,"wires":[["2a54fd71.061652"]]},{"id":"2a54fd71.061652","type":"function","z":"75ff2183.a0fda8","name":"Tweet","func":"msg.sender=msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":318,"wires":[["5d7cb08d.810cf"]]},{"id":"b0669e87.b9d3e","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"payload","x":779,"y":618,"wires":[]},{"id":"57e08323.6534ac","type":"weather_insights","z":"75ff2183.a0fda8","name":"Weather Insights","service":"/forecast/daily/10day.json","geocode":"msg.payload","units":"m","language":"","x":391,"y":526,"wires":[["2ee5a506.a01a4a","9affb084.1e50b"]]},{"id":"5d7cb08d.810cf","type":"alchemy-feature-extract","z":"75ff2183.a0fda8","name":"City Search","page-image":"","image-kw":"","feed":"","entity":true,"keyword":"","title":"","author":"","taxonomy":"","concept":"","relation":"","pub-date":"","doc-sentiment":"","doc-emotion":"","x":455,"y":318,"wires":[["299d482b.765c78"]]},{"id":"299d482b.765c78","type":"function","z":"75ff2183.a0fda8","name":"City Check","func":"var arraylength=msg.features.entity.length;\nfor(var i=0;i<arraylength;i++){\n    if(msg.features.entity[i].type==\"City\"){\n        msg.payload=msg.features.entity[i].text;\n    }\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":675,"y":329,"wires":[["65cd4f09.486e5"]]},{"id":"65cd4f09.486e5","type":"function","z":"75ff2183.a0fda8","name":"Form URL Based in City Name","func":"msg.url=\"http://api.opencagedata.com/geocode/v1/json?q=\";\nmsg.url=msg.url+msg.payload;\nmsg.url=msg.url+\"&key=cce4188ad005452cbab9ce4db6d13409\";\nreturn msg;\n","outputs":1,"noerr":0,"x":165,"y":410,"wires":[["11e474cb.f2595b"]]},{"id":"2708d8d4.cc3238","type":"json","z":"75ff2183.a0fda8","name":"","x":165,"y":510,"wires":[["d60a8788.f86908"]]},{"id":"d60a8788.f86908","type":"function","z":"75ff2183.a0fda8","name":"Extract LatLong","func":"var lat=msg.payload.results[0].geometry.lat;\nvar long=msg.payload.results[0].geometry.lng;\nmsg.payload=lat+\",\"+long; \nreturn msg;","outputs":1,"noerr":0,"x":711,"y":395,"wires":[["57e08323.6534ac"]]},{"id":"2ee5a506.a01a4a","type":"function","z":"75ff2183.a0fda8","name":"Narrative","func":"msg.payload=msg.forecasts[0].narrative;\nreturn msg;","outputs":1,"noerr":0,"x":611,"y":503,"wires":[["8d5acf41.727d"]]},{"id":"9affb084.1e50b","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"forecasts","x":757,"y":454,"wires":[]},{"id":"8d5acf41.727d","type":"switch","z":"75ff2183.a0fda8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Cloudy","vt":"str"},{"t":"cont","v":"Clear","vt":"str"}],"checkall":"true","outputs":2,"x":327,"y":671,"wires":[["6ee74f00.28824"],["e6c2f1f9.6f6aa"]]},{"id":"6ee74f00.28824","type":"function","z":"75ff2183.a0fda8","name":"Cloudy","func":"msg.payload=msg.payload+\"@\"+msg.sender+\"Wear Hot Clothes\"\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":637,"wires":[["b0669e87.b9d3e","d994e0b5.59718"]]},{"id":"e6c2f1f9.6f6aa","type":"function","z":"75ff2183.a0fda8","name":"Clear","func":"msg.payload=msg.payload+\"@\"+msg.sender+\"Wear clothes\"\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":709,"wires":[["b0669e87.b9d3e","d994e0b5.59718"]]},{"id":"d994e0b5.59718","type":"twitter out","z":"75ff2183.a0fda8","twitter":"","name":"Tweet","x":805,"y":680,"wires":[]}]
