Weather Analysis
[{"id":"2b0c1270.424bee","type":"twitter in","z":"75ff2183.a0fda8","twitter":"","tags":"@cs","user":"false","name":"clothing","topic":"tweets","inputs":0,"x":97,"y":321,"wires":[["2a54fd71.061652"]]},{"id":"2a54fd71.061652","type":"function","z":"75ff2183.a0fda8","name":"Tweet","func":"msg.sender=msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":318,"wires":[["5d7cb08d.810cf"]]},{"id":"b0669e87.b9d3e","type":"debug","z":"75ff2183.a0fda8","name":"","active":true,"console":"false","complete":"payload","x":753,"y":710,"wires":[]},{"id":"57e08323.6534ac","type":"weather_insights","z":"75ff2183.a0fda8","name":"Weather","service":"/forecast/daily/10day.json","geocode":"msg.payload","units":"m","language":"","x":507,"y":682,"wires":[["b0669e87.b9d3e"]]},{"id":"5d7cb08d.810cf","type":"alchemy-feature-extract","z":"75ff2183.a0fda8","name":"City Search","page-image":"","image-kw":"","feed":"","entity":true,"keyword":"","title":"","author":"","taxonomy":"","concept":"","relation":"","pub-date":"","doc-sentiment":"","doc-emotion":"","x":455,"y":318,"wires":[["299d482b.765c78"]]},{"id":"299d482b.765c78","type":"function","z":"75ff2183.a0fda8","name":"City Check","func":"varArraylength = msg.features.entity;\nfor(var i=0;i<Arraylength;i++)\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":329,"wires":[["e8b15205.4fed5"]]},{"id":"e8b15205.4fed5","type":"http request","z":"75ff2183.a0fda8","name":"LatLongFinder","method":"POST","ret":"txt","url":"http://www.latlong.net","tls":"","x":541,"y":501,"wires":[["57e08323.6534ac"]]}]
